@-webkit-keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  30% {
    transform: scale(2.2);
    opacity: 0;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  30% {
    transform: scale(2.2);
    opacity: 0;
  }
  100% {
    transform: scale(2.2);
    opacity: 0;
  }
}
body {
  background-color: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
header .up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: #fafafa;
}
header .up .box {
  width: 85%;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
header .up .box .logo-menu {
  display: flex;
  align-items: center;
  gap: 25px;
}
header .up .box .logo-menu a {
  text-decoration: none;
}
header .up .box .logo-menu a img {
  width: 150px;
}
header .up .box .logo-menu .menu {
  width: 650px;
  padding-top: 18px;
}
header .up .box .logo-menu .menu ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
header .up .box .logo-menu .menu ul li:first-child a {
  text-decoration: none;
  color: red;
}
header .up .box .logo-menu .menu ul li a {
  text-decoration: none;
  color: #53595c;
  font-size: 13px;
  transition: 0.5s;
}
header .up .box .logo-menu .menu ul li a:hover {
  opacity: 0.4;
}
header .up .box .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 7px;
}
header .up .box .contact a {
  text-decoration: none;
}
header .up .box .contact a:first-child {
  color: black;
  font-size: xx-large;
  font-weight: bolder;
}
header .up .box .contact a:last-child {
  margin-left: 40px;
  color: black;
}
header .up .box .contact a:last-child span {
  color: #53595c;
}
header .up .box .contact .schedule {
  height: 100%;
  padding-top: 13px;
}
header .up .box .contact .schedule h6 {
  font-size: 10px;
}
header .up .box .contact .schedule h6:first-child {
  color: #53595c;
}
header .up .box .contact .schedule h6:last-child {
  font-weight: bold;
}
header .down {
  height: 70px;
  background-color: #3d3f42;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .down .box {
  width: 85%;
  display: flex;
  align-items: center;
}
header .down .box .catalog {
  width: 300px;
  height: 70px;
  cursor: pointer;
  background-color: #232222;
  padding-top: 23px;
}
header .down .box .catalog h1 {
  font-size: 18px;
  color: white;
  text-align: center;
}
header .down .box .catalog h1 i {
  font-size: 25px;
  margin-right: 12px;
}
header .down .box .search {
  height: 50px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
header .down .box .search input {
  height: 100%;
  border-radius: 7px;
  padding-left: 15px;
  outline: none;
  width: 595px;
  border: 0;
}
header .down .box .search input::-moz-placeholder {
  color: #53595c;
}
header .down .box .search input:-ms-input-placeholder {
  color: #53595c;
}
header .down .box .search input::placeholder {
  color: #53595c;
}
header .down .box .search a {
  text-decoration: none;
}
header .down .box .search a i {
  font-size: 25px;
  position: absolute;
  top: 25px;
  right: 1px;
  transform: translate(-50%, -50%);
  color: black;
}
header .down .box .user {
  width: 270px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .down .box .user .account {
  width: 120px;
  color: white;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
header .down .box .user .account i {
  font-size: 27px;
}
header .down .box .user .account h5 {
  font-size: 14px;
  margin-top: 5px;
}
header .down .box .user ul {
  width: 125px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 16px;
}
header .down .box .user ul a {
  text-decoration: none;
  color: white;
}
header .down .box .user ul a i {
  font-size: 22px;
}

#catalog-slider {
  display: flex;
  justify-content: center;
}
#catalog-slider .box {
  width: 85%;
  display: flex;
}
#catalog-slider .box ul {
  list-style: none;
  width: 300px;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#catalog-slider .box ul li a {
  text-decoration: none;
  color: #53595c;
  display: flex;
  padding-left: 10px;
  width: 100%;
  justify-content: space-between;
  padding-top: 7px;
  transition: all 200ms;
}
#catalog-slider .box ul li a .title {
  display: flex;
}
#catalog-slider .box ul li a .title i {
  margin-right: 12px;
  font-size: 15px;
}
#catalog-slider .box ul li a .title h5 {
  font-size: 15px;
}
#catalog-slider .box ul li a .arrow {
  margin-right: 7px;
}
#catalog-slider .box ul li a:hover {
  background-color: #fafafa;
  color: red;
}
#catalog-slider .box ul li:first-child a {
  color: red;
  display: block;
  background-color: #fafafa;
}
#catalog-slider .box ul li:first-child a i {
  margin-right: 12px;
}
#catalog-slider .box ul li:last-child a {
  color: red;
  background-color: #fafafa;
}
#catalog-slider .box .slider {
  text-decoration: none;
  display: block;
}
#catalog-slider .box .slider img {
  height: 100%;
  width: 100%;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#advantages {
  display: flex;
  justify-content: center;
  margin-top: 85px;
}
#advantages .box {
  width: 85%;
  display: flex;
}
#advantages .box a {
  position: relative;
  width: 360px;
  height: 100%;
  background-color: #ededee;
  display: block;
  text-decoration: none;
  height: 135px;
  color: black;
  border-radius: 5px;
  border: 0;
}
#advantages .box a h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 40px;
  padding-top: 40px;
}
#advantages .box a p {
  width: 200px;
  margin-left: 40px;
}
#advantages .box a img {
  position: absolute;
  right: 0;
  bottom: 0;
}

#new {
  display: flex;
  justify-content: center;
  margin-top: 85px;
}
#new .box {
  width: 85%;
}
#new .box .title {
  display: flex;
}
#new .box .title h2 {
  font-size: 22px;
  font-weight: bold;
}
#new .box .title a {
  text-decoration: none;
  color: #53595c;
  font-size: 15px;
  margin-top: 4px;
  margin-left: 15px;
}
#new .box .title a:hover span {
  border-bottom: 1px solid #53595c;
}
#new .box .title a i {
  margin-top: 2px;
  margin-left: 7px;
}
#new .box .cards {
  display: flex;
  margin-top: 20px;
}
#new .box .cards .products {
  width: 360px;
  height: 660px;
  background-color: white;
  border-radius: 5px;
}
#new .box .cards .products .favorite-comparison {
  display: flex;
  justify-content: right;
  width: 95%;
  padding-top: 27px;
}
#new .box .cards .products .favorite-comparison a {
  text-decoration: none;
}
#new .box .cards .products .favorite-comparison a i {
  color: gray;
  font-size: 21px;
}
#new .box .cards .products .favorite-comparison a i:first-child {
  margin-right: 10px;
}
#new .box .cards .products .image {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#new .box .cards .products .image a {
  text-decoration: none;
}
#new .box .cards .products .banners {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5px;
       column-gap: 5px;
  width: 260px;
  margin-left: 25px;
  margin-top: 35px;
}
#new .box .cards .products .banners h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: unset;
  text-transform: uppercase;
  height: 20px;
}
#new .box .cards .products .banners h5:first-child {
  background-color: #26ad60;
  color: white;
  width: 60px;
}
#new .box .cards .products .banners h5:nth-child(2) {
  background-color: #8c62a1;
  color: white;
  width: 80px;
}
#new .box .cards .products .banners h5:nth-child(3) {
  background-color: #ecf6f0;
  color: #26ad60;
  width: 100px;
}
#new .box .cards .products .banners h5:nth-child(4) {
  background-color: #1868c9;
  color: white;
  width: 100px;
}
#new .box .cards .products .name {
  font-size: 15px;
  font-weight: unset;
  width: 260px;
  margin-left: 25px;
  margin-top: 5px;
}
#new .box .cards .products .name a {
  text-decoration: none;
  color: black;
}
#new .box .cards .products .rating {
  display: flex;
  padding-left: 25px;
  margin-top: 10px;
}
#new .box .cards .products .rating .stars {
  display: flex;
  gap: 4px;
}
#new .box .cards .products .rating .stars i {
  color: #eaeaea;
  cursor: pointer;
}
#new .box .cards .products .rating .count {
  margin-left: 10px;
  color: #85898b;
  font-size: 13px;
}
#new .box .cards .products .price {
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 25px;
  margin-top: 55px;
}
#new .box .cards .products .price span {
  color: black;
  font-weight: bold;
  font-size: 25px;
}
#new .box .cards .products .price i {
  color: black;
  margin-left: 12px;
}
#new .box .cards .products .add-to-cart {
  display: flex;
  justify-content: right;
}
#new .box .cards .products .add-to-cart a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#new .box .cards .products .add-to-cart a i {
  color: red;
  font-size: 22px;
}
#new .box .cards .products .credit a {
  text-decoration: none;
  font-size: 13px;
  margin-left: 25px;
}
#new .box .cards .products .credit a .clock-icon {
  color: #fd6a01;
}
#new .box .cards .products .credit a span {
  color: #5d6365;
  border-bottom: 1px dotted #5d6365;
}
#new .box .cards .product2 .banners {
  margin-top: 125px;
}
#new .box .cards .product2 .banners h5:nth-child(3) {
  width: 210px;
}
#new .box .cards .product2 .price {
  margin-top: 42px;
}
#new .box .cards .product3 .image img {
  height: 200px;
}
#new .box .cards .product3 .banners {
  margin-top: 53px;
}
#new .box .cards .product3 .banners h5:nth-child(3) {
  width: 210px;
}
#new .box .cards .product3 .price {
  margin-top: 42px;
}
#new .box .cards .product4 .banners {
  margin-top: 23px;
}
#new .box progress {
  width: 99.5%;
  accent-color: red;
  margin-top: 10px;
}

#choice {
  display: flex;
  justify-content: center;
}
#choice .box {
  width: 85%;
  display: flex;
}

footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  background-color: #232222;
}
footer .box {
  width: 85%;
  margin-top: 40px;
}
footer .box .up {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
footer .box .up .contact {
  width: 200px;
  color: white;
}
footer .box .up .contact h3 {
  font-size: xx-large;
  font-weight: bolder;
}
footer .box .up .contact h5 {
  font-size: 15px;
}
footer .box .up .contact .social {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin-top: 30px;
}
footer .box .up .contact .social a {
  text-decoration: none;
  color: white;
  font-size: 30px;
}
footer .box .up .categories, footer .box .up .customer-support, footer .box .up .account {
  width: 195px;
  color: white;
}
footer .box .up .categories h6, footer .box .up .customer-support h6, footer .box .up .account h6 {
  font-size: 11px;
  font-weight: bold;
}
footer .box .up .categories ul, footer .box .up .customer-support ul, footer .box .up .account ul {
  list-style: none;
  margin-top: 10px;
}
footer .box .up .categories ul li, footer .box .up .customer-support ul li, footer .box .up .account ul li {
  padding-top: 5px;
}
footer .box .up .categories ul li a, footer .box .up .customer-support ul li a, footer .box .up .account ul li a {
  text-decoration: none;
  color: white;
  display: block;
}
footer .box .down {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 30px;
}
footer .box .down h6 {
  color: white;
  font-size: 12px;
  font-weight: unset;
}
footer .box .down .rights {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer .box .down .integral {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
}
footer .box .down .integral img {
  width: 85px;
  height: 40px;
}
footer .box .down .mastercard-visa {
  width: 90px;
  display: flex;
  justify-content: space-between;
}
footer .box .down .mastercard-visa i {
  font-size: 28px;
  color: white;
}
footer .box .down .development-design {
  display: flex;
  justify-content: space-between;
  width: 290px;
}
footer .box .down .development-design a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
footer .box .down .development-design a:first-child {
  width: 93px;
}
footer .box .down .development-design a:last-child {
  display: flex;
}
footer .box .down .development-design a:last-child img {
  width: 47px;
  height: 32px;
}
footer .box .down .development-design a:last-child h6 {
  margin-top: 4px;
  margin-left: 10px;
  width: 100px;
}

#discount {
  text-decoration: none;
  position: fixed;
  right: 30px;
  bottom: 60px;
  display: block;
}
#discount img {
  width: 50px;
}

#chat {
  text-decoration: none;
  position: fixed;
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #86be2d;
  bottom: 60px;
  left: 30px;
  border-radius: 50%;
}
#chat::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #dae5cb;
  border-radius: 50%;
  z-index: -1;
  -webkit-animation: pulse 3s ease-out infinite;
          animation: pulse 3s ease-out infinite;
}
#chat i {
  color: white;
  font-size: large;
}/*# sourceMappingURL=style.css.map */